@using Sitecore.Feature.News.Models
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data
@using Sitecore.Feature.News
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions

@model INewsArticle

@if (Model == null)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.NewsArticle.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, ID.Null, ID.Null)
}
else
{
    <div class="thumbnail m-b-1">
        @Html.Glass().Editable(x => x.NewsImage, new {Width = 500, cssClass = "img-responsive"})
    </div>
}