@using Sitecore.Feature.News.Models
@using Glass.Mapper.Sc.Web.Mvc

@model INewsArticle

@*@if (!Model?.Item?.IsDerived(Templates.NewsArticle.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.NewsArticle.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.Item?.ID, Model.Rendering.Item?.ID)
  return;
}*@

<div class="thumbnail m-b-1">
    @Html.Glass().Editable(x => x.NewsImage, new { Width = 500, cssClass = "img-responsive" })
</div>