@using Sitecore.Feature.News.Models
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data
@using Sitecore.Feature.News
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions


@model INewsArticle

@if (Model == null)
{
    //TODO this still needs work
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.NewsArticle.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, ID.Null, ID.Null)
}
else
{
    <div>
        @Html.Glass().Editable(x => x.NewsBody)
    </div>
}